[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
PrivateTmp=false
Restart=always
Type=simple
ExecStartPre=/data/QmhdsoftDeploy/Haproxy/sbin/haproxy -f /data/QmhdsoftDeploy/Haproxy/haproxy.cfg -c -q
ExecStart=/data/QmhdsoftDeploy/Haproxy/sbin/haproxy -Ws -f /data/QmhdsoftDeploy/Haproxy/haproxy.cfg -p /data/QmhdsoftDeploy/Haproxy/haproxy.pid
ExecReload=kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

